<div class="container">
	<div class="col-lg-12">
		<h1>Recipe Finder</h1>
		<hr>
	</div>
	<div class="col-md-8">
		<h2>Instructions</h2>
		<ol>
			<li>Enter all your items into the ingredients area</li>
			<li>Enter all the combinations of ingredients which make a recipe</li>
			<li>Click the <strong>button</strong></li>
			<li>???</li>
			<li>Profit</li>
		</ol>
	</div>
	<div class="col-md-4">
		<img class="img-responsive"
			 src="http://cdn2.bigcommerce.com/server500/svb413w/product_images/uploaded_images/recipe-box.jpg"/>
	</div>
	<div class="col-lg-12">
		<hr>
	</div>
</div>